:root {

  --clr-accent-400: none;
  --clr-accent-100: none;

  --clr-primary-400:#f2e55d;
  --clr-primary-300:#8fa4f0;

  --clr-neutral-100: white;
  --clr-neutral-900: black;

  --ff-primary: 'Roboto', sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: ;
  /*1rem equals to 16px in most modern browsers*/
  --fs-400: ;
  --fs-500: 1rem;
  /*64px is 4rem if :root font-size is 16px*/
  --fs-600: 1.5rem;
  --fs-700: 4rem ;
  --fs-900: 10rem ;

  --fs-footer: var(--fs-600);
  --fs-body: var(--fs-500);
  --fs-heading: var(--fs-700);
  --fs-hero: var(--fs-900);
}

/*
STAR HERE
https://www.youtube.com/watch?v=h3bTwCqX4ns 36:59*/

@media (min-width: 50em) {
  :root {
    --fs-700: 4.5rem ;

    --fs-body: var(--fs-500);
    --fs-heading: var(--fs-700);
  }
}

@media (max-width: 505px) {
 .word-1,
 .word-2,
 .word-3 {
    font-size: 6rem;
    line-height:6.4rem;
    
  }
  p {
    font-size: 1rem;
  }
  
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*{
  margin: 0;
  padding: 0;
  font: inherit;
  /*change COLOR later*/
  color: white;
  
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  background-color: var();
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 50%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
/* @media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} */


/*Utility classes*/

.text-primary-400 {
  color: var(--clr-primary-400);
}
.text-primary-300 {
  color: var(--clr-primary-300);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-900 {
  background-color: var(--clr-neutral-900);
}

/* general styling */

body {
  font-size: var(--fs-body);
  font-family: var(--ff-primary);

  --max-width: 1150px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;

  background-color: var(--clr-neutral-900);

     
      
}
h1 {
  font-size: var(--fs-heading);
  font-weight: var(--fw-bold);
  line-height: 4.3rem;
  padding-bottom: 0.5rem;
  /* color: var(--clr-primary-400); */
}

p,
h1 {
  
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-text {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-hero);
  font-weight: var( --fw-bold);
  line-height:8rem;
}

.container-text {
  font-size: var(--fs-600);
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--clr-neutral-900);
  margin-top: 2rem;
  margin-bottom: 4rem;

  
}



.container {
  display: flex;
  flex-direction: column;
}

.computer-img {
  padding-left:1rem;

  
}

.react-img {
  padding-right:4rem ;
}

em {
  /* color: #fff582; */
  color: #fffc62	;
  font-weight:var(--fw-regular) ;
  
}

.footer {
  
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
}

.credit-bar {
  padding: 0.3rem;
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  
}

